<div class="mt-4">
    <form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="name">Tên</label>
    <input type="text" class="form-control" id="name" name = "name">
  </div>
  <div class="mb-3">
    <label for="description">Mô tả</label>
    <input type="text" class="form-control" id="description" name = "description">
  </div>
  <div class="mb-3">
    <label for="video">Video</label>
    <input type="text" class="form-control" id="video" name = "video">
  </div>
  {{!-- <div class="mb-3">
    <label for="description" class="form-label">Mô tả khóa học</label>
    <input type="email" class="form-control" id="description" name = "description">
  </div> --}}
  <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>
</div>